<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
      p {border: 1px blue dashed; padding: 5px;}
    </style>
    <title>0115 git install notes</title>
</head>
<body>
    <h2>0115 git install notes</h2>
    | <a href="#pbot" name="topg">Link to page bottom</a> <br><br>
    | <a href="0115_homepage_links.html" class="link">0115 homepage with links  <> </a> <br>

    <p>
      ~~#0115 basic git cmds for install <br>------------------------------<br>
      clone a remote url on a new directory<br>
      ____#note: will create a .init for directory so can leave not init <br><br>
      >> git clone <a href="temp" class="temp">
      https://github.com/py3user22/0115_django_template_demo1.git </a> main <br>
        <br><br>

      change the branch to another <br>---------------------<br>
      >> git branch -m main <br>
        <br><br>
      change the default remote to another url <br>----------------------------<br>
      >> git remote set-url origin <a href="temp" class="temp">
        https://github.com/py3user22/0115_django_proj_demo5.git </a> <br>
        <br><br>
      check what remote url have set in local for push/pull <br>
      >> git remote -v  <br>
        <br><br>
      change to another branch <br>--------------------------<br>
      >> git switch master <br>
        <br><br>

    </p>



    <hr><br>
    <br><br>
    <a href="#topg" name="pbot">Link to page top</a>
</body>
</html>