<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {border: 2px blue dashed; padding: 5px;}
        .colo {color: red;} .sup {color: orange;} .sup:hover {color: black; background-color: tan;}
    </style>
    <title>0115 demo2 token-based authentication</title>
</head>
<body>
    <h2>0115 token based auth. demo2</h2>
    | <a href="0115_homepage_links.html" class="link">0115 homepage with links  <> </a> <br>
    | <br>
    | <a href="#botp" name="topg">Link to page bottom</a>


    <p>
        ~~#0115 note: use all lowercase .authtoken <br>
        ___#---<b><i>settings.py</i></b>-----------------edits <br> <br>
        | INSTALLED_APPS = [<br>
        | .. <a href="colo" class="colo">'rest_framework.authtoken'</a>, <br>| ] <br>
        <br>  <br>
        | REST_FRAMEWORK = { <br>
        | .. 'DEFAULT_RENDERER_CLASSES': [ <br>
        | ...... 'rest_framework.renderers.JSONRenderer', <br>
        | ...... 'rest_framework.renderers.BrowsableAPIRenderer', <br>
        | ...... #'rest_framework_xml.renderers.XMLRenderer', <br>
        | .. ], <br>
        | .. 'DEFAULT_AUTHENTICATION_CLASSES': ( <br>
        | ...... <a href="colo" class="colo">'rest_framework.authentication.TokenAuthentication'</a>, <br>
        | .. ) <br>
        | } <br>
        <br><br>


    </p>
    <hr><br>
    <p>
        __# <b><i>urls.py </i></b>-------------------edits <br><br>
        <a href="from" class="from"><sup>
            from django.urls import path <br>
            from . import views <br>
            from rest_framework.authtoken.views import obtain_aut_token <br>
        </sup></a>
        <br><br>
        | urlpatterns = [ <br>
        | .. path('secrets/', views.secret), <br>
        | .. path('api/secrets/', views.secret), <br>
        | .. path('api-token-auth/', obtain_auth_token) <br>

        | ] <br>
    </p>
    <hr><br>
    | <a href="#botp" name="topg">Link to page bottom</a>
    <p>
        ___#0116 <b><i>views.py </i></b> <br>------------------- create a protected API endpoint for managers <br>
        <a href="sup" class="sup">
        <sup>
         |______________________________ <br>
        | from django.shortcuts import render, get_object_or_404 <br>
        | from rest_framework import generics, status <br>
        | from .serializers import MenuItemSerializer <br>
        | from .models import MenuItem <br>
        | from rest_framework.response import Response <br>
        | from rest_framework.decorators import api_view, permission_classes <br>
        | from rest_framework.permissions import IsAuthenticated <br>
        | from django.core.paginator import Paginator, EmptyPage <br>
        </sup></a>
        <br>| <br>| _______________________<br>
        | @api_view() <br>
        | @permission_classes([IsAuthenticated]) <br>
        | @throttle_classes([TenCallsPerMinute]) <br>
        | <a href="def">def</a> <i>throttle_check_auth</i>(request): <br>
        | .. <a href="retu">return</a> Response({"message": "message only logged in users can see @011624 @2317"}) <br>
        | <br>| <br>| _______________________<br>
        | @api_view() <br>
        | @permission_classes([IsAuthenticated]) <br>
        | def me(request): <br>
        | .. <a href="retu">return</a> Response(request.user.email) <br>
        | <br>| <br>| _______________________<br>
        | @api_view() <br>
        | @permission_classes([IsAuthenticated]) <br>
        | def manager_view(request): <br>
        | .. <a href="retu">return</a> Response({"message":"only managers with token to see this"}) <br>
        <br> <br>
        <br>
        ____#ex2 0116 notes: _______________________<br>
        ____# create object for string <br>
        | def manager_view(request): <br>
        | .. message1 = "Only managers with token login to see this" <br>
        | .. return Response({"message": message1}) <br>
        <br><br>
        | def throttle_check_auth(request): <br>
        | .. msg1 = "Only logged in users with token 2C this" <br>
        | .. return Response({"message": msg1}) <br>


        <br><br>
    </p>
    <hr><br>
    <p>
        __#0116 <b><i>urls.py </i></b>-------------------edits <br><br>
        <a href="from" class="from"><sup>
            from django.urls import path <br>
            from . import views <br>
            from rest_framework.authtoken.views import obtain_auth_token <br>
        </sup></a>
        <br><br>
        | urlpatterns = [ <br>
        | .. path('menu-items/', views.menu_items), <br>
        | .. path('menu-items/< int:id>', views.single_item), <br>
        | .. path('roles/', views.roles), <br>
        | .. path('secrets/', views.secret), <br>
        | .. path('api/secrets/', views.secret), <br>
        | .. path('api-token-auth/', obtain_auth_token) <br>
        | .. path('throttle-check/', views.throttle_check), <br>
        | .. path('throttle-check-auth/', views.throttle_check_auth), <br>
        | .. path('me/', views.me), <br>
        | .. path('manager-view/', views.manager_view), <br>
        | ] <br>
    </p>
    <hr><br>
    <p>
        __#ex0116 insomnia POST <br>----------------------<br>
        POST > http://127.0.0.1:8000/api-token-auth <br>
        Form ><br>| username ..|.. johnmanager <br>
        | password ..|.. custmary#24 <br>
        Send to get a new token <br><br>
        Bearer dropdown <br>
        | Token ..|..93ca3a62142f1dd49c42bbe58b71a09e8bde1dab
        | Prefix ..|.. Token <br>
        <br><br>

        Form ><br>| username ..|.. custmary <br>
        | password ..|.. #24-johnmanager <br>
        Send to get a new token <br>
        <br>
        Bearer dropdown <br>
        | Token ..|.. be339b5b624d398fac4806303ae53ce7a9658949 <br>
        | Prefix ..|.. Token <br>
        <br><br>

    </p>
    <hr><br>
    <p>
        __#0116 notes: <br>-----------------<br>
        > http://127.0.0.1:8000/admin/ <br>
        Create your groups and some Users <br>
        Will use the User and password to create tokens <br>


    </p>



    <hr><br>
    | <a href="#topg" name="botp">Link to page top</a>
</body>
</html>