<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {padding: 5px; border: 2px green dashed;} a {color: pink;} a:hover {color: green;}
        .link {color: red;} .link:hover {color: black; background-color: tan;}
    </style>
    <title>Homepage with links @011524' </title>
</head>
<body>
    <h2>Homepage template for django</h2>
    <a href="#pbot" name="topg">Link to page bottom</a>
    <br><br>_______________________<br>
    | <a href="0115_homepage_links.html" class="link">0115 homepage with links  <> </a> <br>
    | <br>
    | <a href="0115_git_install_notes.html" class="link">0115 git install notes <> </a> <br>
    | <a href="0115_django_token_auth_demo1.html" class="link">0115 django token auth demo1  <> </a> <br>
    | <a href="0115_django_debug_install_demo2.html" class="link">0115 django debug install demo2  <> </a> <br>
    | <a href="0115_ .html" class="link">0115  <> </a> <br>
    | <a href="0115_ .html" class="link">0115  <> </a> <br>
    | <a href="0115_ .html" class="link">0115  <> </a> <br>
    | <a href="0115_ .html" class="link">0115  <> </a> <br>
    | <a href="0115_ .html" class="link">0115  <> </a> <br>
    | <a href="0115_ .html" class="link">0115  <> </a> <br>
    | <a href="0115_ .html" class="link">0115  <> </a> <br>
    | <a href="0115_ .html" class="link">0115  <> </a> <br>


    <p>
        __# 0115 template to include: <br>----------------<br>
        <br>
        | github url: <a href="https://github.com/py3user22/0115_django_template_demo1.git" class="gith">Github template basic 0115</a> <br>
        <br>
        | github url: <br>| .. https://github.com/py3user22/0115_django_template_demo1.git <br>
        <br><br>
         ~~#0115 basic git cmds for install <br>------------------------------<br>
      clone a remote url on a new directory<br>
      ____#note: will create a .init for directory so can leave not init <br><br>
      >> git clone <a href="temp" class="temp">
      https://github.com/py3user22/0115_django_template_demo1.git </a> main <br>
        <br><br>
      change the default remote to another url <br>----------------------------<br>
      >> git remote set-url origin <a href="temp" class="temp">
        https://github.com/py3user22/0115_django_proj_demo5.git </a> <br>
        <br><br>

    </p>



    <br><br>
    <a href="#topg" name="pbot">Link to page top</a>
</body>
</html>