<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>0115 demo2 token-based authentication</title>
</head>
<body>
    <h2>0115 token based auth. demo2</h2>
    | <a href="0115_homepage_links.html" class="link">0115 homepage with links  <> </a> <br>
    | <br>

    <p>




    </p>
</body>
</html>